beautifulsoup4==4.10.0
brotli==1.0.9
chardet==4.0.0
cryptography==36.0.1
Cython==0.29.26
Django==4.0
dl==0.1.0
ipaddr==2.2.0
keyring==23.4.0
matplotlib==3.5.1
mock==4.0.3
mypy_extensions==0.4.3
mysql_connector_repackaged==0.3.1
numpy==1.21.5
ordereddict==1.1
protobuf==3.19.1
pyOpenSSL==21.0.0
pypika==0.48.8
simplejson==3.17.6
typing_extensions==4.0.1
unicodedata2==14.0.0