{% extends 'AmazonBotSites/base.html' %}

{% block title %}
Home
{% endblock %}

{% block pagetitle %}Home Page{% endblock %}

{% block content %}
{% load humanize %}
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <ul>
                  {% for product in prodlist %}
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">{{product.name}}</h5>
                              <p class="card-text">{{product.price_set.last.price|floatformat:2|intcomma}} €</p>
                              <a href="/{{product.id}}" class="btn btn-primary">Go to product dettails</a>
                        </div>
                  </div>
                  <br/>
                  {% endfor %}
            </ul>
      </div>
{% endblock %}