{% extends 'AmazonBotSites/base.html' %}

{% block title %}
Home
{% endblock %}

{% block pagetitle %}Home Page{% endblock %}

{% block content %}
{% load humanize %}
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
            <ul>
                  {% for product in prodlist %}
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">{{product.name}}</h5>
                              <p class="card-text">{{product.price_set.last.price|floatformat:2|intcomma}} €</p>
                              
                              <div class="row">
                                    <div class="col-sm">
                                          <div class="d-flex justify-content-center">
                                                <a href="/{{product.id}}" class="btn btn-primary">Go to product dettails</a>
                                          </div>
                                    </div>
                                    
                                    <div class="col-sm">
                                          <div class="d-flex justify-content-center">
                                                <form method="post" class="form-group">{% csrf_token %}
                                                      <button type="submit" class="btn btn-success"> Traccia prodotto </button>
                                                </form>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <br/>
                  {% endfor %}
            </ul>
      </div>
{% endblock %}