{% extends "AmazonBotSites/base.html" %}
{% block title %}View List{% endblock %}

{% block pagetitle %}
	Lista Prodotti	
	<a href="{% url 'createprodlist' %}">
		<button class="btn btn-primary">Crea nuova lista</button>
  	</a>
{% endblock %}

{% block content %}
{% load humanize %}

	<ul>
		{% for grups in grouplist %}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{grups.name}}</h5>
				<p class="card-text">
					<div class="row">
						<div class="col">
							Prezzo Target: {{grups.target_price|floatformat:2|intcomma}} €
						</div>
						<div class="col">
							creato da utente: {{grups.ID_User}}
						</div>
					</div>
				</p>

				<div class="row">
					<div class="col-sm">
						  <div class="d-flex justify-content-center">
								<a href="/{{product.id}}" class="btn btn-primary">Go to product dettails</a>
						  </div>
					</div>
					
					<div class="col-sm">
						  <div class="d-flex justify-content-center">
								<form method="post" class="form-group">{% csrf_token %}
									  <button type="submit", name="item", value="{{product.id}}", class="btn btn-success"> Traccia prodotto </button>
								</form>
						  </div>
					</div>
			  	</div>
			</div>
		</div>
		<br/>
		{% empty %}
			<li>Non vi sono liste</li>
		{% endfor %}
	</ul>
{% endblock %}